body {background:#f9f9f9 url(images/backgrounds/bg_admin.png) repeat-x top left; font:90%/100% "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif; color:#222; margin:0; padding:0;}
h1, h2, h3, h4, h5, h6 {display:block; font-family:Georgia, "Times New Roman", "Bitstream Charter", Times, serif; margin:0; padding:0;}
.clear {clear:both;}
.clear_left {clear:left;}
.clear_right {clear:right;}

#container,#logo,#nav_main,#sidebar,#content,#footer {display:block; margin:0; padding:0;}

#container {width:1000px; margin:0 auto 50px auto;}
#logo {width:400px; float:left; margin:7px 0 30px 0;}
#logo h1 {margin-top:7px;}
#logo h1 a {font-size:80%; color:#fff;}

#sidebar,#content {float:left; background-color:#fcfdfd url(redmond/images/ui-bg_inset-hard_100_fcfdfd_1x100.png) 50% bottom repeat-x; border:1px solid #a6c9e2; margin-bottom:20px; -moz-border-radius-topleft:4px; -webkit-border-top-left-radius:4px; -khtml-border-top-left-radius:4px; border-top-left-radius:4px;}
#sidebar {width:260px; margin-right:16px; padding:20px;}
#sidebar ul {border-bottom:1px solid #c5dbec; list-style:none; margin:10px 0; padding:0;}
#sidebar ul li {display:block; margin:0; padding:0;}
#sidebar ul li a {display:block; color:#2e6e9e; font-size:90%; font-weight:bold; background:#dfeffc url(redmond/images/ui-bg_glass_85_dfeffc_1x400.png) 50% 50% repeat-x; border-top:1px solid #c5dbec; text-decoration:none; margin:0; padding:5px;}
#sidebar ul li a:hover {color:#1d5987; background:#d0e5f5 url(redmond/images/ui-bg_glass_75_d0e5f5_1x400.png) 50% 50% repeat-x;}
#sidebar ul li a.nav_sub_on {color:#e17009; background:#f5f8f9 url(redmond/images/ui-bg_inset-hard_100_f5f8f9_1x100.png) 50% 50% repeat-x;}
#content {width:640px; padding:20px;}
#content h2.heading {font:italic 180%/120% "Times New Roman", Times, serif; color:#4d0b0c;}
#content #tbl_list {margin-bottom:20px;}
#content #tbl_list th, #content #tbl_list td {border-bottom:1px solid #d3d3d3;}
#content #tbl_list th {color:#fff; text-align:left; background:#5c9ccc url(redmond/images/ui-bg_gloss-wave_55_5c9ccc_500x100.png) 50% 50% repeat-x; font-weight:bold;}
#content #tbl_list td {color:#222; vertical-align:top;}
#content #tbl_list td.date {font-size:75%;}
#content #tbl_list tr.alt td {background-color:#ececec;}
#content #tbl_list tr.over td {background-color:#fbf9ee;}

#footer {width:1000px; font-size:80%; color:#999; text-align:right;}

/* Nav Main */
#nav_main {width:600px; height:30px; float:right; text-align:right; margin:14px 0 0 0;}
#nav_main ul {list-style:none; float:right; margin:0; padding:0;}
#nav_main ul.dropdown .nav_main_on {background:#f5f8f9 url(redmond/images/ui-bg_inset-hard_100_f5f8f9_1x100.png) 50% 50% repeat-x; border:1px solid #79b7e7; border-bottom:1px solid #fff; color:#e17009;}
/* LEVEL ONE */
#nav_main ul.dropdown	{position:relative;}
#nav_main ul.dropdown li	{float:left; zoom:1;}
#nav_main ul.dropdown li a:hover	{background:#d0e5f5 url(redmond/images/ui-bg_glass_75_d0e5f5_1x400.png) 50% 50% repeat-x; border:1px solid #79b7e7; border-bottom:1px solid #79b7e7; color:#1d5987;}
#nav_main ul.dropdown li a:active	{background:#f5f8f9 url(redmond/images/ui-bg_inset-hard_100_f5f8f9_1x100.png) 50% 50% repeat-x; border:1px solid #79b7e7; border-bottom:1px solid #fff; color:#e17009;}
#nav_main ul.dropdown li a	{width:100px; height:30px; display:block; background:#dfeffc url(redmond/images/ui-bg_glass_85_dfeffc_1x400.png) 50% 50% repeat-x; font:bold 90%/250% Arial, Helvetica, sans-serif; color:#2e6e9e; text-align:center; text-decoration:none; border:1px solid #c5dbec; -moz-border-radius-topleft:4px; -webkit-border-top-left-radius:4px; border-top-left-radius:4px; -moz-border-radius-topright:4px; -webkit-border-top-right-radius:4px; border-top-right-radius:4px; padding:0;}
#nav_main ul.dropdown li.hover,#nav_main ul.dropdown li:hover	{position:relative;}
/* LEVEL TWO */
#nav_main ul.dropdown ul	{width:200px; visibility:hidden; position:absolute; top:100%; left:0;}
#nav_main ul.dropdown ul li	{font-weight:normal; background:#dfeffc url(redmond/images/ui-bg_glass_85_dfeffc_1x400.png) 50% 50% repeat-x; color:#2e6e9e; border:none; border-bottom:1px solid #c5dbec; float:none; -moz-border-radius-topleft:0px; -webkit-border-top-left-radius:0px; border-top-left-radius:0px; -moz-border-radius-topright:0px; -webkit-border-top-right-radius:0px; border-top-right-radius:0px;}
/* IE 6 & 7 Needs Inline Block */
#nav_main ul.dropdown ul li a	{width:190px; display:inline-block; background:#dfeffc url(redmond/images/ui-bg_glass_85_dfeffc_1x400.png) 50% 50% repeat-x; padding:0 5px; color:#2e6e9e; text-align:left; font:normal 90%/28px Arial, Helvetica, sans-serif; border:none; border-bottom:1px solid #c5dbec; -moz-border-radius-topleft:0px; -webkit-border-top-left-radius:0px; border-top-left-radius:0px; -moz-border-radius-topright:0px; -webkit-border-top-right-radius:0px; border-top-right-radius:0px;} 
#nav_main ul.dropdown ul li a:hover	{background:#d0e5f5 url(redmond/images/ui-bg_glass_75_d0e5f5_1x400.png) 50% 50% repeat-x; border:none; border-bottom:1px solid #79b7e7; color:#1d5987;}
#nav_main ul.dropdown ul li.subdropdown a {background:#227a3e url(images/icons/arrow_nav_main.png) no-repeat right;}
#nav_main ul.dropdown ul li.subdropdown a:hover {color:#ffddab; background:#52a46a url(images/icons/arrow_nav_main.png) no-repeat right;}
/* LEVEL THREE */
#nav_main ul.dropdown ul ul	{width:300px; left:100%; top:0;}
#nav_main ul.dropdown li:hover > ul	{visibility:visible;}
#nav_main ul.dropdown ul ul li a {width:290px; background:#52a46a; font:normal 90%/28px Arial, Helvetica, sans-serif;}
#nav_main ul.dropdown ul ul li a:hover {color:#ffddab; background-color:#52a46a;}
#nav_main ul.dropdown ul li.subdropdown ul li a {background:#52a46a;}
#nav_main ul.dropdown ul li.subdropdown ul li a:hover {color:#115827; background:#8FC89F;}
/* FORMS */
label, input[type=text] {float:left; display:block;}
label {font-weight:bold; margin-right:5px;}
.field {width:100%; overflow:auto; margin:5px 0px;}
fieldset {border:none; margin:0; padding:0;}
legend {font-weight:bold; font-size:1.2em;}
input[type=text], input.text, input.title, textarea, select {background-color:#fff; border:1px solid #7f9db9;}
input[type=text]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus {border-color:#00aedb;}
input[type=text], input.text, input.title, textarea, select {margin:0;}
input.text, input.title {width:240px; padding:5px;}
input.title {font-size:1.5em;}
textarea {width:575px; height:100px; padding:5px;}
input[type=checkbox], input[type=radio], input.checkbox, input.radio {position:relative; top:.25em;}
.button {cursor:pointer; background:#d0e5f5 url(jquery.ui/images/ui-bg_glass_75_d0e5f5_1x400.png) 50% 50% repeat-x; color:#2e6e9e; font-weight:bold; padding:4px 10px; border:1px solid #00aedb; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.button:hover {background:#e9f6fb url(jquery.ui/images/ui-bg_glass_75_e9f6fb_1x400.png) 50% 50% repeat-x; color:#1d5987; border:1px solid #00aedb;}
.form_error, .form_notice, .form_success {display:block; padding:.8em; margin:1em 0;}
.form_error {border:1px solid #cd0a0a; background:#fef1ec url(jquery.ui/images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x; color:#cd0a0a; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.form_notice {border:1px solid #fad42e; background:#fbec88 url(jquery.ui/images/ui-bg_flat_55_fbec88_40x100.png) 50% 50% repeat-x; color:#363636; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.form_success {border:1px solid #; background:#E6EFC2; color:#264409; border-color:#C6D880; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.form_error a {color:#8a1f11;}
.form_notice a {color:#514721;}
.form_success a {color:#264409;}