@charset "utf-8";
/* CSS Document */

body {background:#fff; font:100%/120% "Times New Roman", Times, serif; color:#4d0b0c; margin:0; padding:0;}
#container,#container_top,#logo,#nav_main,#header,#container_middle,#container_content,#sidebar_left,#content,#sidebar_right,#content_bottom {display:block; margin:0; padding:0;}
#container {width:100%;}
#container_top {width:1000px; height:105px; margin:0 auto;}
#container_top #logo {width:230px; float:left; text-align:right; margin-top:6px;}
#container_top #nav_main {width:770px; float:left;}
#container_top #nav_main ul {list-style-type:none; float:right; margin:0 25px 0 0; padding:0;}
#container_top #nav_main ul li {float:left; margin:0 15px 0 0; padding:0;}
#container_top #nav_main ul li a {display:block; background:url(images/backgrounds/bg_navmain.jpg) 0 -63px no-repeat; font:bold 14px "Times New Roman", Times, serif; color:#762123; text-align:center; text-decoration:none; white-space:nowrap; margin:0; padding:25px 10px 0 10px;}
#container_top #nav_main ul li a:hover {text-decoration:underline;}
#container_top #nav_main ul li a.navmain_on {background:url(images/backgrounds/bg_navmain.jpg) 0 -35px no-repeat; padding:55px 10px 0 10px;}
#container_top #header {width:1000px;}
#container_middle {width:100%; background-color:#fff; clear:both; margin-top:40px;}
/*#container_middle {width:100%; border:10px solid #762123; clear:both;}*/
#container_middle #container_content {width:1000px; margin:0 auto; padding:25px 0;}
#container_middle #sidebar_left a, #container_middle #content a {color:#762123; text-decoration:underline;}
#container_middle #sidebar_left {width:217px; float:left; text-align:right; margin-right:50px;}
#container_middle #sidebar_left h1 {font:italic 120%/120% "Times New Roman", Times, serif; color:#4d0b0c; margin:0; padding:0;}
#container_middle #content {width:678px; float:left; border-left:5px solid #762123;}
#container_middle #content h1 {font:italic 180%/120% "Times New Roman", Times, serif; color:#4d0b0c; margin:0 0 0 50px; padding:0;}
#container_middle #content p {margin-left:50px;}
#container_middle #content ul {margin-left:50px;}
#content_bottom {width:1000px; margin:25px auto;}
#content_bottom p {color:#403202; margin-left:317px;}
#content_bottom a {color:#762123;}
#content_bottom a:hover {color:#403202;}
.alignleft {display:inline; float:left; margin-right:1.625em;}
.alignright {display:inline; float:right; margin-left:1.625em;}
.aligncenter {clear:both; display:block; margin-left:auto; margin-right:auto;}
img.alignleft, img.alignright, img.aligncenter {margin-bottom:1.625em; border:1px solid #9e5758; padding:6px;}
.boto-button {font-weight:bold; margin:20px 0; padding:0 50px;}
#accordion {margin-left:50px;}
.ui-accordion-header a {font-weight:bold;}
.red {color:#762123;}
.yellow {color:#ffe483;}
.navYellow {color:#ffc907;}